# APPS
APP_SECRET_KEY=change-me-in-production
APP_TIMEZONE=America/Fortaleza
APP_LANGUAGE_CODE=pt-br
APP_DEBUG=False

# --- SEGURANÇA E REDE ---
# Server IP e docker services
APP_ALLOWED_HOSTS=localhost,127.0.0.1,192.168.248.227,backend

# Frontend URL de produção
APP_CSRF_TRUSTED_ORIGINS=http://192.168.248.227:3002,http://localhost:3002
CORS_ALLOWED_ORIGINS=http://192.168.248.227:3002,http://localhost:3002

# --- BANCO DE DADOS (Docker Internal) ---
APP_DATABASE_URL=postgres://postgres:admin@db:5432/sada_db_dev
POSTGRES_DB=sada_db_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin